- var year = new Date().getFullYear();
style(rel='css/stylesheet'): include css/footer.css
div.footer
  div.small
    div.copywrite
      a.green.fine(href) © #{year} All rights reserved.
    |  |  
    div.source
      a.green.fine(href='https://github.com/amoskyler/redditpreviewer-server')  Source
