doctype html
html
  include head
  script(rel='/text/javascript'): include js/clickBackController.js
  body(onclick='clickBack()' onmousemove='displayNavigation()')
    div.main
      include header
      div.media-container
        include media_viewer
      div.post-title
        a.river(href=reddit_url + permalink) #{title}
      div.post-reddit
        a.belize(href=reddit_url+'/r/'+subreddit) /r/#{subreddit}
