doctype html
html
  include head
  body(onclick='window.clickBack()' onmousemove='window.displayNavigation()')
    div.main
      include header
      div.media-container
        include media_viewer
      div.post-title
        a.river(href=reddit_url + permalink) #{title}
      div.post-reddit
        a.belize(href=reddit_url+'/r/'+subreddit) /r/#{subreddit}
