doctype html
html
  include head
  body(onclick='window.clickBack()' onmousemove='window.displayNavigation()')
  div.main
    include header
    div.processing
      p This thread preview is still being generated
      button#refresh(onclick='window.location.reload()') Refresh
